numpy
tqdm
zhon
Pillow
PyYAML
pypinyin
soundfile
dashscope
librosa
moviepy
opencv-python
torch
transformers
diffusers
edge-tts
# 阿里云语音SDK（可选，如果使用Edge-TTS可以不用）
# git+https://github.com/aliyun/alibabacloud-nls-python-sdk@dev